
<h1 class="text-center">Take Home Test</h1>
<hr/>
<div class="col-md-4 offset-md-4 text-center">

  <h4>Deliverables</h4>
  <a class="nav-link" routerLink="/person/list">List Person Details</a>
  <a class="nav-link" routerLink="/person/search">Search a Person</a>
</div>

<hr/>

<div class="col-md-4 offset-md-4 text-center">

  <h4>Links</h4>
  <a class="nav-link" routerLink="https://technicaltestclient.herokuapp.com/">Heroku - Angular Client</a>
  <a class="nav-link" routerLink="https://technicalterstrestapi.herokuapp.com/api/v1">Heroku - REST API</a>
  <a class="nav-link" routerLink="https://github.com/michaelCodeHub/TechnicalTestClient">GitHub - Angular Client</a>
  <a class="nav-link" routerLink="https://github.com/michaelCodeHub/TechnicalTestRestAPI">GitHub - REST API</a>

</div>

<hr/>
<h4 class="text-center">Technology Used</h4>
<div class="col-md-4 offset-md-4 row text-center">
  

  <div class="col-lg-6">
    <p>Angular: 7.2.15</p>
    <p>Angular CLI: 7.3.9</p>
    <p>Node: 10.16.3</p>
    <p>Express: 4.17.1</p>  
  </div>
  
  <div class="col-lg-6">
    <p>AWS RDS</p>
    <p>Heroku</p>
    <p>GitHub</p>
    <p>Visual Studio Code</p>  
  </div>

</div>

<hr/>
<div class="col-md-6 offset-md-3 text-center">
<p>Submitted by Michael Adaikalaraj. Check me at <a href="http://www.michaeljaison.com/" target="_blank">michaeljaison.com</a></p>
</div>